.mat-card-live{
    border: 1px solid #CFD8DC;
    border-radius: 4px 3px 6px / 2px 4px;
    padding: 15px 0% 0% 0%;
    margin: 5px;
}

.mat-card-title-live{
    padding: 0px 10px 15px;
    margin-bottom: 0px;
    min-height: 70px;
}

.mat-chip-date{
    background-color: #90CAF9;
    color:black;
    font-size: 0.7rem;
}